form {
    width: 80%;
    margin: 2rem auto 0 auto;
    text-align: center;
}

.deadline {
    text-align: start;
    margin-bottom: 1.5rem;
}

h1 {
    font-size: 2rem;
    color: white;
    font-weight: 500;
    margin-bottom: 2rem;
}

.form {
    width: 60%;
}

.buttons {
    width: 100%;
}

button {
    margin-right: .5rem;
    padding: 0 2rem;
}