.container {
    width: 80%;
    margin: auto;
}

.content {
    width: 100%;
} 

h1 {

    color: white;
    text-align: center;
    font-weight: 500;
    margin: 2rem auto;
    background-color: rgb(73, 199, 73, 0.50);
    width: 30%;
    padding: .7rem;
}

mat-card {
    margin-top: .8rem;
    padding: .2rem;
}

mat-card-header {
    margin-top: 0;
    padding-bottom: 1.8rem;
}

mat-card-subtitle {
    margin-bottom: 0;
}

.deadline {
    text-align: end;
    font-weight: 500;
    color: #9c9c9c;
    padding: 1rem .8rem 0 0;
    margin-bottom: 0;
}

.deadline span {
    color: rgba(212, 210, 210, 0.805);
}

.badge {
    margin-top: 1.5rem;
    display: flex;
    justify-content: end;
    align-items: end;
}

.voltar {
    padding: .1rem 3rem;
    transition: 400ms;
    background-color: #64c6eb80;
    color: white;
}

.voltar:hover {
    color: white;
    transition: 400ms;
    background-color: #64c6eb50;
}