<div class="container">

    <div class="badge">
        <button mat-stroked-button
        (click)="finalizados()"
         matBadgeColor="accent" 
         class="finished mat-elevation-z8" 
         matBadge="{{ finished }}" 
         color="primary">
         Tarefas Finalizadas
        </button>
    </div> 

    <!-- Botão Adicionar -->
    <button class="add-todo mat-elevation-z8" mat-fab color="warn">
        <mat-icon>add</mat-icon>
    </button>

    <!-- Card para o Todo -->
    <div class="content" *ngFor="let item of list">
        <mat-card class="mat-elevation-z8">
            <p>DeadLine: <span>{{ item.deadLine }}</span></p>
            <mat-card-header>
                <mat-card-title> {{ item.titulo}} </mat-card-title>
                <mat-card-subtitle>{{ item.descricao }}</mat-card-subtitle>
            </mat-card-header>

            <!-- Botões de Ações -->
            <div class="actions">
                <button (click)="finalizar(item)" mat-mini-fab color="primary">
                    <mat-icon>done</mat-icon>
                </button>
                <button mat-mini-fab color="accent">
                    <mat-icon>edit</mat-icon>
                </button>
                <button (click)="delete(item.id)" mat-mini-fab color="warn">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </mat-card>

    </div>

</div>