.container {
    width: 80%;
    margin: auto;
}

.content {
    width: 100%;
}

.add-todo {
    display: block;
    margin: 1rem auto;
    transition: 400ms;
}

.add-todo:hover {
    box-shadow: 0px 5px 10px #212121a1;
    transition: 400ms;
    width: 4rem;
    height: 4rem;
}

mat-card {
    margin-top: .8rem;
    padding: .2rem;
}

mat-card-header {
    margin-top: 1.5rem;
}

mat-card-subtitle {
    margin-bottom: 0;
}

p {
    text-align: end;
    font-weight: 500;
    color: #9c9c9c;
    padding: 1rem .8rem 0 0;
}

p span {
    color: rgba(212, 210, 210, 0.805);
}

.actions {
    text-align: end;
}

.actions button {
    margin: 0 .8rem 1rem .5rem;
}

.badge {
    margin-top: 1.5rem;
    display: flex;
    justify-content: end;
    align-items: end;
}


.finished {
    transition: 400ms;
    background-color: rgb(73, 199, 73);
    color: white;
}

.finished:hover {
    color: white;
    transition: 400ms;
    background-color: rgba(80, 245, 80, 0.305);
}